.form-container{
    padding: 20px 25px;
    height: 300px;
}

.form-container input{
    border: none;
}

@media only screen and (max-width: 600px) {
    .form-wrapper div{
        width: 100%;
    }
    iframe{
        margin-top: 20px;
        width: 90vw;
    }
  }